/node_modules
config/dbConfig.js
TODO.md
.env
certificate/server.key
certificate/server.crt

######################################
# macOS
######################################

*.DS_Store
._.DS_Store
.DS_Store
.AppleDouble
.LSOverride