/node_modules
config/dbConfig.js
TODO.md
.env
certificate/server.crt
certificate/server.key


######################################
# macOS
######################################

*.DS_Store
._.DS_Store
.DS_Store
.AppleDouble
.LSOverride
